h2{
    text-align: center;
    width: 50%;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    background-color: sienna;
}

h1{
    text-decoration: #FFaaaa underline wavy;
}

button{
    color: green;
    background-color: grey;
}

/* you can remove all the text decoration too, if you decide you don't want lines under your anchor etc. */
a{
    text-decoration: none;
}

p{
    text-align: right;
    font-weight: 300;
    line-height: 2.5;
    letter-spacing: 2em;
    color: yellow;
    background-color: darkred;
}
body{
    background-color: #cceeaa;
}